@model CAFE_MENU.Models.ViewModels.UserViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "UpdateUser";
}


<h2>Update User</h2>

<form asp-action="UpdateUser" method="post">
    <input type="hidden" asp-for="UserId" />

    <div>
        <label>Name</label>
        <input asp-for="FirstName" required />
    </div>
    <div>
        <label>Surname</label>
        <input asp-for="LastName" required />
    </div>
    <div>
        <label>Username</label>
        <input asp-for="UserName" required />
    </div>
    <div>
        <label>New Password (Leave blank if you do not want to change)</label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Save</button>
</form>
